 * {
 	padding: 0;
 	margin: 0;
 }
 
 body,
 button,
 input,
 select,
 textarea {
 	font: 12px/1.5 Arial, Helvetica, sans-serif;
 }
 
 .shortcut {
 	height: 29px;
 	line-height: 29px;
 	font-family: arial, 微软雅黑;
 	background-color: rgb(250, 250, 250);
 	position: relative;
 	z-index: 421;
 	border-bottom: 1px solid rgb(237, 237, 237);
 }
 
 .layout {
 	width: 1200px;
 	margin: 0 auto;
 }
 
 ol,
 ul {
 	list-style: none;
 }
 
 .shortcut .s-sub li.s-hw {
 	background-image: none;
 	padding-left: 0;
 }
 
 .shortcut .s-sub li {
 	background-position: 0 9px;
 }
 
 .shortcut li {
 	float: left;
 	padding: 0 10px;
 	background: url(img/bg65.png) scroll no-repeat;
 }
 
 .shortcut a {
 	color: #8c8c8c;
 }
 
 a {
 	text-decoration: none;
 	cursor: pointer;
 	color: #333;
 }
 
 .shortcut a:hover {
 	color: #ca151e;
 	text-decoration: none;
 }
 
 .shortcut .s-dropdown {
 	margin: 0 -10px;
 	position: relative;
 }
 
 .shortcut .s-dropdown:hover {
 	margin: 0 -11px;
 }
 
 .shortcut .s-dropdown .h {
 	position: relative;
 	padding: 0 27px 0 10px;
 }
 
 .shortcut .s-dropdown:hover .h {
 	border-left: 1px solid #ededed;
 	border-right: 1px solid #ededed;
 	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
 	background: #FFF;
 }
 
 .shortcut .s-dropdown .h s {
 	position: absolute;
 	right: 10px;
 	top: 50%;
 	margin-top: -2px;
 	width: 7px;
 	height: 4px;
 	line-height: 0;
 	background-position: -34px 0;
 }
 
 .shortcut .s-dropdown s {
 	background: url(img/sprites3.png) scroll no-repeat;
 }
 
 .shortcut .s-dropdown:hover .h s {
 	background-position: 0 0;
 }
 
 .shortcut .s-appsoft .b,
 .shortcut .s-sitemap .b {
 	padding-top: 4px;
 	padding-bottom: 4px;
 	line-height: 24px;
 }
 
 .shortcut .s-dropdown .b {
 	display: none;
 	position: absolute;
 	left: 0;
 	right: 0;
 	top: 29px;
 	padding: 0 10px;
 	background-color: #fff;
 	border: 1px solid #ededed;
 	border-top-color: white;
 }
 
 .shortcut .s-dropdown:hover .b {
 	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
 	display: block;
 }
 
 .shortcut .s-main {
 	float: right;
 }
 
 .shortcut .s-main li {
 	float: left;
 	background-position: 100% 9px;
 }
 
 .shortcut .s-login a {
 	color: #333;
 }
 
 .shortcut .s-login a:hover {
 	color: #ca151e;
 }
 
 .shortcut .s-user {
 	background: 0;
 }
 
 .shortcut .s-user .h {
 	min-width: 98px;
 	text-align: right;
 	white-space: nowrap;
 }
 
 .vip-state .link-noAct {
 	padding: 0 3px;
 	background-color: #ca141c;
 	color: #FFF;
 	display: inline-block;
 	font-size: 14px;
 	height: 16px;
 	overflow: hidden;
 	line-height: 16px;
 	vertical-align: middle;
 	position: relative;
 	top: -1px;
 }
 
 .vip-state i {
 	position: relative;
 	top: -1px;
 }
 
 .icon-vip-level-0 {
 	background-position: 0 0;
 }
 
 .icon-vip-level-0 {
 	background: url(img/icon35.png) scroll no-repeat;
 }
 
 .icon-vip-level-0,
 .icon-vip-level-1,
 .icon-vip-level-2,
 .icon-vip-level-3,
 .icon-vip-level-4,
 .icon-vip-level-5 {
 	display: inline-block;
 	width: 20px;
 	height: 16px;
 	vertical-align: middle;
 }
 
 address,
 caption,
 cite,
 code,
 dfn,
 em,
 th,
 var {
 	font-style: normal;
 	font-weight: 400;
 }
 
 .shortcut .s-user .b {
 	color: #8b8b8b;
 	line-height: 1.2;
 	padding-top: 7px;
 	padding-bottom: 10px;
 	white-space: nowrap;
 }
 
 .hide,
 .hidden {
 	display: none;
 }
 
 .shortcut .s-main li.s-sitemap {
 	background-image: none;
 }
 
 .right_tip {
 	width: 48px;
 	position: fixed;
 	right: 0;
 	bottom: 200px;
 	z-index: 9999;
 }
 
 #go-head {
 	display: inline-block;
 	width: 48px;
 	height: 48px;
 	opacity: 1;
 	background: url(img/icon29.png);
 	background-color: #b3b3b3;
 	background-position: 0 0;
 	;
 	overflow: hidden;
 	margin-top: 10px;
 }
 
 #suggest {
 	display: inline-block;
 	width: 48px;
 	height: 48px;
 	opacity: 1;
 	background: url(img/icon29.png);
 	background-color: #b3b3b3;
 	background-position: 0 -58px;
 	;
 	overflow: hidden;
 	margin-top: 10px;
 }
 
 #call {
 	display: inline-block;
 	width: 48px;
 	height: 48px;
 	opacity: 1;
 	background: url(img/icon29.png);
 	background-color: #b3b3b3;
 	background-position: 0 -116px;
 	;
 	overflow: hidden;
 	margin-top: 10px;
 }
 
 .header {
 	height: 112px;
 	background-color: #FFF;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 }
 
 .logo {
 	width: 345px;
 }
 
 .logo-index {
 	padding-top: 0!important;
 }
 
 .logo {
 	float: left;
 	padding-top: 43px;
 	width: 300px;
 }
 
 .wide .logo>a {
 	display: table-cell;
 	vertical-align: middle;
 	height: 112px;
 }
 
 .logo>a {
 	display: table-cell;
 	vertical-align: middle;
 	height: 118px;
 }
 
 .searchBar {
 	float: left;
 	padding: 36px 7px 0 0;
 }
 
 .relative {
 	position: relative;
 }
 
 .searchBar-form {
 	line-height: 1;
 	border: 1px solid #EEE;
 	width: 433px;
 	height: 38px;
 	overflow: hidden;
 }
 
 .searchBar-key a:hover {
 	color: #333;
 }
 
 .searchBar-form .text {
 	background-color: transparent;
 	border: 0 none;
 	width: 373px;
 	height: 28px;
 	line-height: 28px;
 	padding: 5px 10px;
 	vertical-align: top;
 	border-right: 1px solid #EEE;
 	font-family: 'Tahoma';
 }
 
 input,
 select,
 textarea {
 	font-size: 100%;
 }
 
 .searchBar-form .button {
 	width: 38px;
 	height: 38px;
 	cursor: pointer;
 	border: 0 none;
 	font-size: 0;
 	vertical-align: top;
 }
 
 .searchBar-form .button {
 	background: url(img/icon47.png) -2px 12px scroll no-repeat;
 }
 
 .searchBar-form:hover .button {
 	background-position: 12px 12px;
 	background-color: #6d6d6d;
 }
 
 .searchBar-key {
 	position: absolute;
 	max-width: 280px;
 	right: 55px;
 	bottom: 12px;
 	z-index: 2;
 	white-space: nowrap;
 	text-align: right;
 	overflow: hidden;
 }
 
 .searchBar-key a {
 	color: #999;
 	font-size: 12px;
 	margin-right: 12px;
 }
 
 .header-toolbar {
 	float: left;
 	height: 38px;
 	border: 1px solid #EEE;
 	border-bottom: 0;
 	background-color: #FFF;
 	margin-top: 36px;
 }
 
 .header-toolbar-item {
 	float: left;
 }
 
 .i-mall {
 	position: relative;
 	z-index: 416;
 }
 
 .i-mall .h {
 	width: 99px;
 	position: relative;
 }
 
 .i-mall:hover .h {
 	width: 98px;
 }
 
 .header-toolbar .h {
 	height: 18px;
 	padding: 10px 0;
 	cursor: pointer;
 	position: relative;
 	border-bottom: 1px solid #EEE;
 	background-color: #FFF;
 	z-index: 416;
 }
 
 .i-mall .h a {
 	margin-left: 21px;
 }
 
 .header-toolbar .h a {
 	line-height: 18px;
 }
 
 .header-toolbar .h a:hover {
 	color: #E01D20;
 	text-decoration: underline;
 }
 
 .header-toolbar-item:hover .h i {
 	background-position: -234px 0;
 }
 
 .header-toolbar .h i {
 	display: inline-block;
 	vertical-align: middle;
 	width: 6px;
 	height: 3px;
 	font-size: 1px;
 	line-height: 1px;
 	margin-left: 7px;
 }
 
 .header-toolbar .h s {
 	position: absolute;
 	width: 1px;
 	height: 12px;
 	top: 13px;
 	left: -1px;
 	background-color: #e5e5e5;
 }
 
 .i-mall .h u {
 	left: 0;
 }
 
 .header-toolbar .h u {
 	display: none;
 	position: absolute;
 	background-color: #FFF;
 	height: 6px;
 	bottom: -6px;
 	width: 98px;
 }
 
 .i-mall .b {
 	width: 197px;
 	top: 39px;
 	left: -1px;
 }
 
 .header-toolbar .b {
 	position: absolute;
 	z-index: 413;
 	overflow: hidden;
 	border: 1px solid #EEE;
 	background-color: #FFF;
 	display: none;
 }
 
 .i-mall-prompt {
 	padding: 11px 10px;
 	color: #666;
 	text-align: center;
 }
 
 .i-mall-uc {
 	border-top: 1px solid #eee;
 	width: 210px;
 	padding-top: 29px;
 	overflow: hidden;
 }
 
 .i-mall-uc li {
 	float: left;
 	width: 98px;
 	line-height: 14px;
 	border-right: 1px solid #eee;
 	margin-bottom: 26px;
 	overflow: hidden;
 	text-align: center;
 }
 
 .i-mall-uc span {
 	color: #e01d20;
 	margin-left: 4px;
 }
 
 .i-mall-event {
 	text-align: center;
 	padding: 0 10px 10px;
 }
 
 .i-mall-event img {
 	vertical-align: top;
 }
 
 fieldset,
 img,
 a img {
 	border: 0 none;
 }
 
 .header-toolbar-item {
 	float: left;
 }
 
 .header-toolbar-item:hover .h {
 	border-left: 1px solid #EEE;
 	border-right: 1px solid #EEE;
 	border-top: 1px solid #EEE;
 	margin-top: -1px;
 	margin-left: -1px;
 	border-bottom: none;
 }
 
 .header-toolbar .i-mall:hover .b,
 .header-toolbar .minicart:hover .b {
 	display: block;
 }
 
 .minicart {
 	position: relative;
 	z-index: 416;
 }
 
 .minicart .h {
 	width: 98px;
 }
 
 .minicart:hover .h {
 	margin-right: -1px;
 }
 
 .minicart .h a {
 	position: relative;
 	margin-left: 15px;
 }
 
 .minicart .h span {
 	position: absolute;
 	height: 15px;
 	line-height: 15px;
 	padding: 0 2px;
 	background-color: #ca141d;
 	right: -17px;
 	top: -19px;
 	color: #FFF;
 	vertical-align: top;
 	font-family: Arial, Helvetica, sans-serif;
 	border-radius: 2px;
 }
 
 .minicart .h b {
 	position: absolute;
 	width: 6px;
 	height: 3px;
 	background-position: -250px 0;
 	bottom: -3px;
 	right: 4px;
 	font-size: 1px;
 	line-height: 1px;
 	display: none;
 }
 
 b {
 	font-weight: 700!important;
 }
 
 .minicart .h u {
 	right: 0;
 }
 
 .minicart .b {
 	width: 466px;
 	right: -1px;
 	top: 39px;
 }
 
 .minicart-pro-empty {
 	text-align: center;
 	color: #999;
 	padding: 41px 0;
 	line-height: 1.5;
 }
 
 .icon-minicart {
 	display: inline-block;
 	padding: 5px 0 5px 48px;
 	background-position: -265px 0;
 }
 
 .minicart-pro-settleup {
 	background-color: #fafafa;
 	position: relative;
 	padding: 22px 0 22px 24px;
 	height: 37px;
 	margin-top: -1px;
 	display: none;
 }
 
 .minicart-pro-settleup p {
 	line-height: 37px;
 }
 
 .minicart-pro-settleup em {
 	color: #e01d20;
 	font-size: 18px;
 	margin: 0 4px;
 	position: relative;
 	top: 1px;
 	font-family: Arial, Helvetica, sans-serif;
 }
 
 .minicart-pro-settleup b {
 	font-weight: 400;
 	font-size: 18px;
 	color: #e01d20;
 	margin-left: 4px;
 	position: relative;
 	top: 1px;
 	font-family: Arial, Helvetica, sans-serif;
 }
 
 .button-minicart-settleup {
 	display: inline-block;
 	color: #FFF;
 	border: 1px solid #e01d20;
 	background-color: #e01d20;
 	color: #FFF;
 	font-size: 16px;
 	width: 130px;
 	height: 35px;
 	text-align: center;
 	line-height: 35px;
 	position: absolute;
 	right: 22px;
 	top: 22px;
 }
 
 .header-dynamic-ad {
 	padding-top: 20px;
 	height: 72px;
 	width: 160px;
 	float: right;
 }
 
 .ec-slider {
 	position: relative;
 	overflow: hidden;
 }
 
 .header-dynamic-ad .ec-slider img {
 	height: 72px;
 	width: 160px;
 }
 
 .naver-main {
 	height: 40px;
 	background-color: #3a3a3a;
 }
 
 .naver-main .layout {
 	position: relative;
 	z-index: 410;
 }
 
 .naver {
 	position: absolute;
 	padding-left: 240px;
 	width: 960px;
 	font-family: \5FAE\8F6F\96C5\9ED1;
 }
 
 .naver ul {
 	width: 960px;
 	height: 40px;
 }
 
 .naver li {
 	float: left;
 }
 
 .naver a {
 	padding: 0 30px;
 }
 
 .naver a {
 	display: inline-block;
 	height: 40px;
 	line-height: 39px;
 	font-size: 14px;
 	color: #FFF;
 	padding: 0 20px;
 	white-space: nowrap;
 	text-align: center;
 }
 
 .naver a span {
 	cursor: pointer;
 	display: inline-block;
 	position: relative;
 	z-index: 410;
 }
 
 .naver li s {
 	position: absolute;
 	right: -4px;
 	top: -14px;
 	line-height: 1.2;
 }
 
 .naver li img {
 	vertical-align: top;
 }
 
 .category {
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 240px;
 	height: 40px;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 	line-height: 1.5;
 }
 
 .icon-category {
 	position: absolute;
 	width: 9px;
 	height: 4px;
 	font-size: 1px;
 	line-height: 1px;
 	right: 13px;
 	top: 18px;
 }
 
 .icon-error,
 .icon-ok,
 .icon-warn,
 .icon-breadcrumb,
 .icon-reply,
 .icon-close,
 .box-header .box-close,
 .icon-minus,
 .icon-plus,
 .icon-over,
 .icon-arrow-up,
 .icon-arrow-down,
 .icon-letter-unread,
 .icon-letter-read,
 .icon-del,
 .icon-search,
 .icon-sales,
 .icon-edit,
 .icon-yes,
 .icon-no,
 .icon-more,
 .header-toolbar .h i,
 .i-mall .h b,
 .minicart .h b,
 .icon-minicart-del,
 .icon-minicart,
 .naver i,
 .icon-category,
 .icon-cate-arrow,
 .icon-noVerified {
 	background: url(img/icon1.png) scoll no-repeat;
 }
 .category .h {
 	height: 40px;
 	background-color: #c81118;
 }
 
 .category-index .h h2 {
 	border-bottom-color: #da3243;
 }
 
 .category .h h2 {
 	line-height: 40px;
 	height: 40px;
 	font-size: 14px;
 	color: #FFF;
 	padding-left: 16px;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-size: 100%;
 	font-weight: 400;
 }
 
 .category .category-list {
 	padding-bottom: 0;
 	position: relative;
 	height: 448px;
 }
 
 .category-index .category-list {
 	background-color: #fff;
 	border-top: 0 none;
 	font-size: 0;
 }
 
 .category-item {
 	vertical-align: top;
 	height: 64px;
 }
 
 .category-info {
 	padding: 10px 16px;
 	height: 44px;
 }
 
 .category-index .category-info h3,
 .category-index .category-info h3 a {
 	font-size: 14px;
 	color: #333;
 }
 
 .category-info h3 {
 	padding-bottom: 2px;
 }
 
 .category .category-info a {
 	color: #bbb;
 	margin-right: 8px;
 	font-size: 14px;
 }
 
 .category-info span {
 	position: relative;
 }
 
 .category-info s {
 	position: absolute;
 	right: -3px;
 	top: -13px;
 }
 
 .category-info img {
 	vertical-align: top;
 }
 
 .children-col-list,
 .children-col-list-1,
 .children-col-list-2,
 .children-col-list-3,
 .children-col-list-4 {
 	position: relative;
 	float: left;
 }
 
 .children-col-1 {
 	width: 220px;
 }
 
 .children-col-2 {
 	width: 440px;
 }
 
 .category-panels {
 	display: none;
 	position: absolute;
 	left: 240px;
 	height: 448px;
 	background-color: #f7f7f7;
 	top: 0;
 }
 
 .subcate-list {
 	width: 220px;
 	padding-top: 14px;
 	height: 434px;
 }
 
 .subcate-list li {
 	vertical-align: top;
 }
 
 .subcate-list a {
 	display: block;
 	padding-left: 30px;
 	line-height: 42px;
 	font-size: 14px;
 	color: #333;
 }
 
 .subcate-list span {
 	position: relative;
 }
 
 .category-banner {
 	position: absolute;
 	bottom: 0;
 	padding: 10px 30px 12px;
 	width: 160px;
 }
 
 .category-banner dt {
 	font-size: 14px;
 	text-align: center;
 	margin: 9px 0 15px;
 	color: #888;
 	height: 22px;
 	line-height: 22px;
 }
 
 .category-banner dt {
 	background: url(img/bg63.png) 0 50% repeat-x;
 }
 
 .category-banner dt span {
 	padding: 0 8px;
 	background: #f7f7f7;
 }
 
 .category-banner dd {
 	margin: 9px 0;
 	color: #333;
 	white-space: nowrap;
 	width: 100%;
 }
 
 .category-banner a {
 	position: relative;
 	display: inline-block;
 	padding: 0;
 	line-height: 22px;
 }
 
 .category-list li:hover .category-panels {
 	display: block;
 }
 
 #category-block .b {
 	display: none;
 }
 
 .hr-1,
 .hr-2,
 .hr-3,
 .hr-4,
 .hr-5,
 .hr-7,
 .hr-9,
 .hr-10,
 .hr-15,
 .hr-20,
 .hr-22,
 .hr-25,
 .hr-30,
 .hr-32.hr-35,
 .hr-40,
 .hr-45,
 .hr-50,
 .hr-55,
 .hr-60,
 .hr-65,
 .hr-70,
 .hr-75,
 .hr-80,
 .hr-85,
 .hr-90 {
 	clear: both;
 	font-size: 1px;
 	line-height: 1px;
 }
 
 .hr-10 {
 	height: 10px;
 }
 
 .breadcrumb-area {
 	color: #BBB;
 }
 
 .breadcrumb-area {
 	margin-left: 1px;
 	line-height: 1.5;
 }
 
 .fcn {
 	font-family: \5b8b\4f53;
 }
 
 .breadcrumb-area a:hover,
 .breadcrumb-area span {
 	color: #333;
 }
 
 .breadcrumb-area a,
 .breadcrumb-area span {
 	color: #666;
 	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53;
 }
 
 .pro-cate-area {
 	border: 1px solid #dedede;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 }
 
 .pro-cate-attr {
 	border-bottom: 1px solid #dedede;
 }
 
 .pro-cate-area .p-title {
 	float: left;
 	text-align: right;
 	width: 86px;
 	padding-top: 16px;
 }
 
 .pro-cate-area .p-default {
 	float: left;
 	padding: 16px 0 0 10px;
 }
 
 .pro-cate-area .p-default a,
 .pro-cate-area .p-expand a {
 	color: #999;
 	display: inline-block;
 	vertical-align: top;
 }
 
 .pro-cate-area .p-values {
 	margin-left: 140px;
 	padding: 10px 0;
 }
 
 .pro-cate-area .p-operate {
 	float: right;
 	padding: 6px 20px 6px 0;
 }
 
 .pro-cate-area .p-operate .more {
 	color: #666;
 	padding-right: 20px;
 	position: relative;
 	display: inline-block;
 }
 
 .pro-cate-area .p-operate .more-expand s {
 	background-position: -18px -28px;
 }
 
 .pro-cate-area .p-operate .more s {
 	position: absolute;
 	right: 0;
 	top: 50%;
 	margin-top: -2.5px;
 	width: 9px;
 	height: 5px;
 	font-size: 0;
 	line-height: 0;
 	overflow: hidden;
 }
 .hr-20{
 	height: 20px;
 }
 .pro-cate-area .p-expand {
 	margin-right: 80px;
 	overflow: hidden;
 	height: 30px;
 }
  .pro-cate-sort .p-expand s {
 	position: absolute;
 	right: 0;
 	top: 50%;
 	font-size: 0;
 	line-height: 0;
 	overflow: hidden;
 	width: 8px;
 }
 .pro-cate-sort .sort-sale s,
 .pro-cate-sort .sort-price s,
 .pro-cate-sort .sort-added s {
 	height: 10px;
 	margin-top: -5px;
 }
.pro-cate-sort .sort-eval s {
    background-position: 0 -29px;
}
.pro-cate-sort .sort-eval s {
    margin-top: -3px;
    height: 8px;
}
 .pro-cate-area .p-expand li {
 	float: left;
 	margin-right: 20px;
 	padding: 6px 0;
 	height: 18px;
 	white-space: nowrap;
 }
 .pro-cate-area .p-default .selected a,
 .pro-cate-area .p-expand .selected a {
 	color: #e01d20;
 }
 .pro-cate-sort .sort-sale, .pro-cate-sort .sort-price, .pro-cate-sort .sort-eval, .pro-cate-sort .sort-added {
    padding-right: 12px;
    position: relative;
}
 
 .pro-cate-area .p-default a:hover,
 .pro-cate-area .p-expand a:hover {
 	color: #666;
 } 
 .pro-cate-sort .sort-sale s,
 .pro-cate-sort .sort-price s,
 .pro-cate-sort .sort-added s {
 	background:url(img/icon1.png) scroll  no-repeat;
 }
 .pro-cate-sort .sort-sale s, .pro-cate-sort .sort-price s, .pro-cate-sort .sort-added s {
    background-position: 0 -70px;
}
 
 .pro-cate-sort .sort-eval s {
 	background:url(img/icon1.png) 0 -29px no-repeat;
 }
 
 .channel-list .pro-list li {
 	float: left;
 	width: 20%;
 }
 
 .channel-list .pro-list .pro-panels {
 	margin: 0 20px 20px 0;
 	border: 1px solid #dedede;
 	height: 362px;
 	position: relative;
 	text-align: center;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 	overflow: hidden;
 }
 
 .channel-list .pro-list .pro-panels:hover,
 .channel-list .pro-list .hover {
 	border-color: #e01d20;
 }
 
 .channel-list .pro-list .p-img {
 	padding: 38px 0 24px;
 	text-align: center;
 }
 
 .channel-list .pro-list .p-img img {
 	vertical-align: top;
 	width: 180px;
 	height: 180px;
 }
 
 .channel-list .pro-list .p-name {
 	line-height: 16px;
 	padding: 0 20px;
 	height: 48px;
 	overflow: hidden;
 }
 
 .channel-list .pro-list .p-price {
 	padding-top: 3px;
 	color: #e01d20;
 	line-height: 30px;
 }
 
 .channel-list .pro-list .p-price b {
 	font-size: 20px;
 	font-weight: 400;
 	font-family: Arial, Helvetica, sans-serif;
 }
 
 .channel-list .pro-list .p-button {
 	position: absolute;
 	left: -1px;
 	width: 224px;
 	bottom: -1px;
 }
 
 .channel-list .pro-list .p-button table {
 	width: 100%;
 	table-layout: fixed;
 	border-collapse: collapse;
 }
 
 .channel-list .pro-list .p-button td {
 	border: 1px solid #dedede;
 }
 
 .channel-list .pro-list .p-button .p-button-cart,
 .channel-list .pro-list .p-button .p-button-an {
 	color: #e01d20;
 }
 
 .channel-list .pro-list .p-button a,
 .channel-list .pro-list .p-button label {
 	display: block;
 	height: 30px;
 	line-height: 30px;
 	color: #666;
 	overflow: hidden;
 	white-space: nowrap;
 }
 
 .channel-list .pro-list .p-name a {
 	color: #666;
 }
 
 .channel-list .pro-list .p-tag {
 	position: absolute;
 	width: 70px;
 	height: 18px;
 	left: 50%;
 	top: 0;
 	margin-left: -35px;
 	z-index: 2;
 }
 
 .channel-list .pro-list .p-button a:hover {
 	text-decoration: none;
 	background-color: #e01d20;
 	color: #FFF;
 }
 
 .channel-list .pro-list .p-tag img {
 	height: 18px;
 	width: 70px;
 }
 
 .red {
 	color: #ca151e!important;
 }
 
 .hr-40 {
 	height: 40px;
 }
 
 .service-container,
 .slogan-container,
 .footer-container {
 	border-top: 1px solid #EEE;
 }
 
 .slogan {
 	padding: 18px 0 18px;
 	width: 1200px;
 	margin: 0 auto;
 	overflow: hidden;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 }
 
 .slogan li {
 	float: left;
 	line-height: 44px;
 	font-size: 14px;
 	color: #666;
 	height: 44px;
 	width: 300px;
 	text-align: center;
 }
 
 .slogan .s1 i {
 	background-position: -216px 0;
 }
 
 .slogan .s1:hover i {
 	background-position: 0 0;
 }
 
 .slogan li i {
 	display: inline-block;
 	line-height: 44px;
 	width: 44px;
 	height: 44px;
 	margin-right: 12px;
 	vertical-align: middle;
 }
 
 .slogan li:hover {
 	color: #ca151e;
 }
 
 .slogan li i,
 .service dt i {
 	background: url(img/icon14.png) scroll no-repeat;
 }
 
 .slogan .s2:hover i {
 	background-position: -54px 0;
 }
 
 .slogan .s2 i {
 	background-position: -270px 0;
 }
 
 .slogan .s3:hover i {
 	background-position: -108px 0;
 }
 
 .slogan .s3 i {
 	background-position: -324px 0;
 }
 
 .slogan .s4:hover i {
 	background-position: -162px 0;
 }
 
 .slogan .s4 i {
 	background-position: -378px 0;
 }
 
 .service {
 	padding: 30px 0 20px;
 	width: 1200px;
 	overflow: hidden;
 	margin: 0 auto;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 }
 
 .service .s1 {
 	width: 266px;
 	padding-left: 28px;
 }
 
 .service dl {
 	float: left;
 }
 
 .service dt {
 	font-size: 14px;
 	padding-bottom: 15px;
 	color: #666;
 }
 
 .service .s1 dt i {
 	background-position: 0 -54px;
 }
 
 .service dt i {
 	float: left;
 	width: 16px;
 	height: 14px;
 	margin: 3px 8px 0 0;
 }
 
 .service dd li {
 	line-height: 24px;
 	padding-left: 24px;
 }
 
 .service dd a {
 	color: #b0b0b0;
 }
 
 .service dd a:hover {
 	color: #e01d20;
 	text-decoration: underline;
 }
 
 .service .s2 {
 	width: 265px;
 }
 
 .service .s2 dt i {
 	background-position: -26px -54px;
 }
 
 .service .s3 {
 	width: 264px;
 }
 
 .service .s3 dt i {
 	background-position: -52px -54px;
 }
 
 .service .s4 dt i {
 	background-position: -78px -54px;
 }
 
 .service dl.s5 {
 	float: right;
 	padding-right: 30px;
 }
 
 .service .s5 dt i {
 	background-position: 0 -78px;
 }
 
 .footer {
 	padding: 29px 0 30px;
 	width: 1200px;
 	margin: 0 auto;
 	font-family: 'Tahoma', \5FAE\8F6F\96C5\9ED1;
 	color: #666;
 	line-height: 1.5;
 }
 
 .footer-otherLink {
 	padding: 0 8px;
 	text-align: center;
 	word-break: break-all;
 	color: #888;
 }
 
 .footer-otherLink a {
 	color: #888;
 }
 
 .footer a {
 	color: #666;
 }
 
 .footer-warrant-area {
 	padding-top: 6px;
 	text-align: center;
 	color: #b0b0b0;
 }
 
 .footer-warrant-area a {
 	color: #b0b0b0;
 }